<!DOCTYPE html>
<html>
    <head>
        <title>F1 Feeder</title>
        <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    </head>
    <body ng-app="F1FeederApp">
        <ng-view></ng-view>
        
        <script src="~/bower_components/angular/angular.js"></script>
        <script src="~/bower_components/angular-route/angular-route.js"></script>
        <script src="~/js/app.min.js"></script>
        <script src="~/js/services.min.js"></script>
        <script src="~/js/controllers.min.js"></script>
    </body>
</html>
