@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body ng-app="MyApp">
        <nav>
            Choose the pattern:
            <a href="#/drivers-$scope">Plain old $scope</a>
            <a href="#/drivers-$scopeViewModel">$scope with a View Model</a>
            <a href="#/drivers-controllerAs">Controller as</a>
        </nav>

        <ng-view></ng-view>

        <script src="~/public/angular/angular.js"></script>
        <script src="~/public/angular-route/angular-route.js"></script>
        <script src="~/public/app.js"></script>
    </body>
</html>
